body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* the borders */
.rectangle {
    width: 70%; 
    height: 60%; 
    background-color:rgba(255, 255, 255, 0.833);
    border: 1px solid gray;
    padding: 4%;
    padding-right: 30%;
}

/* do some space between the boxes */
.form-floating {
    margin-bottom: 15px;
    size: 4cm;
}

.form-control {
    height: 3%; /* Adjust the height of the input boxes */
    font-size: 3%; /* Adjust the font size */
    padding: 1%; /* Adjust the padding inside the input boxes */
}

/* logo */
.my-image {
    width: 20%; /* Adjust the width of the image */
    height: auto;
    position: absolute; /* Add this line */
    top: 20%; /* Adjust this value to move the image vertically */
    right: 20%; /* Adjust this value to move the image horizontally */
}
